# Variables publicas para el frontend (Vite/React)
VITE_SUPABASE_URL=https://TU-PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY=TU_SUPABASE_PUBLISHABLE_KEY
VITE_MQTT_HOST=wss://TU-BROKER.emqxsl.com:8084/mqtt
VITE_MQTT_USER=TU_USUARIO_MQTT
VITE_MQTT_PASSWORD=TU_PASSWORD_MQTT

# Variables auxiliares para scripts/CLI
SUPABASE_PROJECT_REF=TU_PROJECT_REF
SUPABASE_DB_HOST=db.TU_PROJECT_REF.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
#SUPABASE_DB_DIRECT_URL=postgresql://postgres:TU_PASSWORD@db.TU_PROJECT_REF.supabase.co:5432/postgres
SUPABASE_ACCESS_TOKEN=TU_SUPABASE_ACCESS_TOKEN
SUPABASE_DB_DIRECT_URL="postgresql://postgres.TU_PROJECT_REF:TU_PASSWORD@aws-0-TU_REGION.pooler.supabase.com:5432/postgres"
